<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>        
      <class name="com.tr.testFiles.FunctionalTest"/>
      <class name="com.tr.testFiles.LoginTest"/>
      <class name="com.tr.testFiles.ShoppingTest"/>
      <class name="com.tr.testFiles.BreakLinkTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
